{% extends 'base.html' %}


{% block content %}
<div class="container-lg report-button">
    <form method="post" action="{{ url_for('CompetitorAnalysis.download_pdf') }}">
    <button type="submit" name="download_pdf" class="btn btn-success">Download PDF</button>
    <!-- <a href="{{ url_for('CompetitorAnalysis.download_pdf') }}" class="btn btn-success">Download PDF</a> -->
    </form>


</div>
<div class="report-data">
    <h3>Company Report</h3>
    <div class="report-data-child">
        <p>{{file_data|safe}}</p>
    </div>
    
</div>

<hr>

<div class="company-data">
    <h3>SWOT Analysis</h3>
    <div class="company-data-child">
        <div class="company-data-child-first">
            <div class="card strength">
                {% if html_strength %}
                    {{html_strength|safe}}
                {% endif %}
            </div>
            <div class="card weakness">
                {% if html_weakness %}
                    {{html_weakness|safe}}
                {% endif %}
            </div>

        </div>
        <div class="company-data-child-second">
            <div class="card opportunity">
                {% if html_opportunity %}
                    {{html_opportunity|safe}}
                {% endif %}
            </div>
            <div class="card threat">
                {% if html_threats %}
                    {{html_threats|safe}}
                {% endif %}
            </div>
        </div>

    </div>
</div>



    
{% endblock %}