{% extends 'base.html' %}


   


{% block content %}
<div class="container-lg report-button">
    <button type="submit" name="download_pdf" class="btn btn-success">Download PDF</button>
    <button type="submit" name="download_excel" class="btn btn-success">Download Excel</button>

</div>

<div class="company-data">
    <h3>SWOT Analysis</h3>
    <div class="company-data-child">
        <div class="company-data-child-first">
            <div class="card strength">
                {% if strength %}
                    {{strength}}
                {% endif %}
            </div>
            <div class="card weakness">
                {% if weakness %}
                    {{weakness}}
                {% endif %}
            </div>

        </div>
        <div class="company-data-child-second">
            <div class="card opportunity">
                {% if opportunity %}
                    {{opportunity}}
                {% endif %}
            </div>
            <div class="card threat">
                {% if threat %}
                    {{threat}}
                {% endif %}
            </div>
        </div>

    </div>
</div>



    
{% endblock %}